[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "susographql"]
	path = susographql
	url = https://github.com/michael-cw/susographql
